{{- define "main" -}}

{{ $paginator := .Paginate (where .Pages.ByPublishDate "Section" "post") }}

<ul>
	{{ range $paginator.Pages }}
	<li>
		<a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
		<small>{{ .PublishDate.Format .Site.Params.dateFormat }}</small>
	</li>
	{{ end }}
</ul>

{{ template "_internal/pagination.html" . }}

<style>
	.pagination {
		display: flex;
		list-style: none;
	}

	.page-item {
		margin: 0 8pt;
	}

		.page-item.disabled {
			pointer-events: none;
			opacity: 0.5;
		}
</style>

{{- end -}}
