{{ with .Params.authors }}
<div>
	<h2>Author(s)</h2>

	<ul>
		{{ range . }}
		{{ with $.Site.GetPage (printf "/authors/%s" .) }}
		<li>
			<p>
				{{ with .Params.gravatarHash }}
				{{ partial "gravatar.html" . }}
				{{ else }}
				{{ partial "gravatar.html" (md5 .Params.Name) }}
				{{ end }}

				<a href="{{ .Permalink }}">{{ .Params.name }}</a>

				{{ with .Params.title }}
				<br />
				<small>{{ . }}</small>
				{{ end }}

				{{ with .Params.summary }}
				<br />
				<span>{{ . | markdownify }}</span>
				{{ end }}
			</p>
		</li>
		{{ end }}
		{{ end }}
	</ul>
</div>
{{ end }}
