<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{{ .Title }} | {{ .Site.Title }}</title>

		{{ with .Site.Params.description }}
		<meta name="description" content="{{ . }}">
		{{ end }}

		{{ $css := resources.Get "index.css" | minify | fingerprint }}
		<link rel="stylesheet" href="{{ $css.Permalink }}">
	</head>

	<body>
		<header>
			<p>
				<a href="{{ .Site.BaseURL }}">Yoyo developers blog</a>
			</p>
		</header>

		<main>
			{{ block "main" . }}{{ end }}
		</main>
	</body>
</html>
